files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDOzCCAiMCFBnDwAxkKrKPblRhn0SwB0cDkQsgMA0GCSqGSIb3DQEBCwUAMFox
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xFDASBgNVBAcMC1N1biBQ
      cmFpcmllMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjIw
      MzI0MDEyMjQ1WhcNMjMwMzI0MDEyMjQ1WjBaMQswCQYDVQQGEwJVUzESMBAGA1UE
      CAwJV2lzY29uc2luMRQwEgYDVQQHDAtTdW4gUHJhaXJpZTEhMB8GA1UECgwYSW50
      ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
      CgKCAQEAwpAmhzRaAmAfaAlYJ9rf/MWDC/y7tiavuB+7d3jYJ5iHN2Ygf+iYF/lV
      I0TcERgP4M47eJ3g5O5rVidedBTjztJCH6ovtdixLRM7RvQ3YQO0SToKgDqYxojl
      N6ltvVJXdJjfnHNJjeELOHmM7Va27jZmCZBaK6Dp3p/YT3BxueH8CkQyEzEfY++o
      dKLo1dmo6SoipeV6W2TqhZWJdXHkBGvE1swo1FAr52qLK5MlD4OO+MsByogXEBta
      L+ypDFL2Q0oSE4GE5UUVm/q5xahQYM0pNYT69TaC/0XrG2YESIWv1rJ3Rii2qmy8
      gN7H/9V5F7ijlJ/KMHl81ZXHWTJuBQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCX
      6Ol4p8scjfFP7fqtpLNQBPFOOWbpay70Ma93YEE2mHTw5d/JyH2EEGZvOKc0QLCN
      lE/aOQa8bZd61FSIIA1g3lgBuQFUVwuj4VQhMQzd98WKV+yaiSmEgt8c3XzTpndt
      B2riTmYOnux+CuXUtt+jyU757RL4wVDihknPzLDbVKIhS7M/khhpfaFAUG6sJgLT
      QLda1uF8jJJqE/JYpuGBwww+xTNnIxfK6RyGfSPwh1Uer8CiknIbrkhl9xbcCQ1C
      2Mi6q5Q9zcShCaX7oPXDJ4BuBpVDjtDzyxcn20vVtvTL+MqMw8eM3Y9ijbS4fpCO
      GPtTaARkYCuWCwNfmhYp
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAwpAmhzRaAmAfaAlYJ9rf/MWDC/y7tiavuB+7d3jYJ5iHN2Yg
      f+iYF/lVI0TcERgP4M47eJ3g5O5rVidedBTjztJCH6ovtdixLRM7RvQ3YQO0SToK
      gDqYxojlN6ltvVJXdJjfnHNJjeELOHmM7Va27jZmCZBaK6Dp3p/YT3BxueH8CkQy
      EzEfY++odKLo1dmo6SoipeV6W2TqhZWJdXHkBGvE1swo1FAr52qLK5MlD4OO+MsB
      yogXEBtaL+ypDFL2Q0oSE4GE5UUVm/q5xahQYM0pNYT69TaC/0XrG2YESIWv1rJ3
      Rii2qmy8gN7H/9V5F7ijlJ/KMHl81ZXHWTJuBQIDAQABAoIBAEqT+MDAt3PLpp45
      XrpAMrVwfC//G3DR2W9JcpF0F97tn38DvZdp78rYvuK7BWPkBkoUo0Uztz3pielH
      Q/RZAY2ImOIMWSdqPVfa1FD5UbT1N4kOH3JRg7guRzaT0kXMp0tBQg11P4+L4MIw
      DW34XDxpS6mE1Jt+ncbBHKguoNkv88A9AbD/rkBaIOdFhLnBk8m9kYhnah0bk66d
      rm6zoxU63EYs5i5rCzBdIdRPNpnWsWTl9KlHpmH1NeUG9pistbHq/KWnYBjd7lQD
      ijKDgdj75Riu/g/+oKsy0ybHhZJ6tK7YAFKxzFdPDLLjAFPHjLSOlunSOP92Rj4f
      hHBv8IECgYEA8lsE9HNv7NbZOhoWNRi3qWjp/k4old8RHHSdOB9omLNJqe3H7evA
      OGmrR4ovtfcfTZvJK4HCe+S7jJGXt9hjwRpbtVcun19+n7t2e6l+EUjLNAvot01v
      Crymrk4wcaOHcCOMHLct2mmA2jNFapD9BBy+VRxW5r/n/7+N7Vo8vSECgYEAzYRQ
      8VDyRfGS8scJB0Tb/iRzBW9HY4RunmcMBAvL6GMezvLUELnbLCrnYgZTnnNpaNDK
      QvcmzulXwQpvmtcvmUl+WctQZwNVk4rqjguOpsoCxahsGxDoy/VCcqSaTdjkNcIf
      hjfuD33BewLVSLJ7eOcXvhrDdBwa7uwMKqpx0GUCgYEAhNQL+CqYqnbqoeSQTVOZ
      vbjpnl6Z8eJLT4w+avcT7bU952uSSz0Noh2QKWp8Ub/6oR+D91tsC1lGzXkybSml
      Kr3Wi6IXxHOjQ8qL2qT/mluKO6FXT7eZ54mT1S63cGEPJw/kiAyBjhaK74xwPELw
      2WMjkiQxINEHR21mTTNK3OECgYBWV/bhy85d0GaalUCXyzhaB9pDOENX7jXDWyvT
      L1mV4r7411B9TnhkkAnyRxIuifKJVN8FT20AlUyHD+lftnSLBDOPajn3bZEwkbaF
      wxlFva14eZAhtvL3ba1jGQCzICKQ62PvMeRUodL96WzORB5X5080UW44g+5U3tsl
      ucJjeQKBgQDNuVTz/4pOJZqPAPLafX0ohgo++Q9ZemJ+7Ybuclz7hvPIrkT7vh77
      Xtvu8ZaZhcgr6ho6uZav+u1CyBGr7wy8xHMF6+GMsAy6twOapm56rwFfTKVm1QCB
      dqyF3KCqY0e07Xhvm0IzhoIBpiMwwP2onkMmXKnTARnJnwmL9yuXRQ==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart